@charset "UTF-8";
@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-semibold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-extrabold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat-light.ttf);
  font-weight: 300;
  font-style: normal;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

/*Первый блок*/
.page-header {
  display: block;
  background-image: url(../img/bg_photo_header.png);
  background-color: rgba(17, 17, 17, 0.7);
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid grey;
  padding: 40px 150px 40px 150px;
}

.page-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 226px;
}

.logo-link {
  width: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 0;
  text-transform: capitalize;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.logo-link:hover {
  fill: #c7b299;
  color: #c7b299;
}

.logo-svg {
  fill: currentColor;
}

.nav-wrap {
  margin: 22px 0 0 219px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  display: block;
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #c7b299;
}

.nav-wrp {
  margin: 15px 0 0 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-busket {
  fill: white;
}

.icon-busket:hover {
  fill: #c7b299;
}

.form-search {
  width: 24px;
  height: 24px;
  padding: 0 0 0 28px;
  position: relative;
}

.search {
  outline: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: 0px;
  text-transform: capitalize;
}

.search:focus .search-label {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.search-label {
  display: block;
  width: 100%;
  height: 100%;
}

.search-icon {
  fill: white;
}

.search-icon:hover {
  fill: #d41111;
}

.search-icon:active {
  fill: #551d1d;
}

.page-header-wrp {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 285px 0 0 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slider-arrow-left {
  display: block;
}

.slider-arrow-left::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 102px;
  left: 11px;
  opacity: 0.5;
}

.slider-arrow-left::after:hover {
  border-color: #d3c1ad;
}

.page-header-wrapper {
  width: 589px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header-wrapper-subtitle {
  margin: 0 0 14px 0;
  font-family: 'raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  color: #ffffff;
}

.page-header-wrapper-title {
  margin: 0 0 19px 0;
  font-family: 'raleway';
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
  line-height: 1.2;
  color: #ffffff;
}

.page-header-wrapper-txt {
  margin: 0 0 52px 0;
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.page-header-wrapper-button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 170px;
  background-color: #998675;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  margin: 0 auto;
  padding: 21px 31px 21px 39px;
}

.page-header-wrapper-button:hover {
  background-color: black;
  outline: none;
}

.page-header-wrapper-button:active {
  background-color: white;
  outline: none;
}

.slider-arrow-right {
  display: block;
}

.slider-arrow-right:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 102px;
  left: 1550px;
  opacity: 0.5;
}

.slider-arrow-right:hover {
  border-color: #d3c1ad;
}

.header-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 282px 0 0 0;
}

.header-pagination-link {
  display: block;
  margin: 0 10px 0 0;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-pagination-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 2px solid #ffffff;
  background-color: transparent;
}

.header-pagination-link:nth-child(5) {
  margin: 0;
}

/*Второй блок*/
.four-blocks {
  padding: 80px 376px 80px 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.four-blocks-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  width: 266px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.four-blocks-wrp::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
}

.four-blocks-wrp:hover:after {
  background-color: #c7b299;
}

.four-blocks-icon {
  fill: #555555;
  width: 100%;
  margin: 0 0 30px 0;
}

.four-blocks-wrp:hover .four-blocks-icon {
  fill: #c7b299;
}

.four-blocks-title {
  display: block;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 1.2;
  color: #555555;
  margin: 0 0 19px 0;
}

.four-blocks-wrp:hover .four-blocks-title {
  color: #c7b299;
}

.four-blocks-text {
  display: block;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 30px 0;
  color: #8c8c8c;
}

/*Третий блок*/
.waxom-is {
  padding: 80px 344px 0 344px;
  background-color: #fbfaf8;
}

.waxom-is-title {
  display: block;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  margin: 0 0 24px 0;
  text-align: center;
}

.waxom-is-txt {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  margin: 0 0 40px 0;
  text-align: center;
}

.waxom-is-bottom {
  height: 482px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url("../img/browser_center_10768.png"), url("../img/browser_left_10769.png"), url("../img/browser_right_10770.png");
  background-position: bottom center, bottom left, bottom right;
}

/*Четвертый блок*/
.purchase {
  padding: 50px;
  background-color: #f4f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.purchase-wrp {
  margin: 0 20% 0 0;
}

.purchase-title {
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 8px 0;
}

.purchase-title-text {
  color: #c7b299;
}

.purchase-text {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #615855;
  margin: 0;
}

.purchase-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 170px;
  background-color: #998675;
  border: 1px solid #998675;
  border-radius: 3px;
  text-decoration: none;
  padding: 20px 0 20px 0;
  text-align: center;
  font-family: 'raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}

.purchase-button:hover {
  background-color: black;
  outline: none;
}

.purchase-button:active {
  background-color: #dd1a1a;
  outline: none;
}

/*Пятый блок Последние проекты*/
.latest-projects {
  padding: 80px 0 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest-projects-title {
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  text-align: center;
  margin: 0 0 24px 0;
}

.latest-projects-txt {
  display: block;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 30% 40px 30%;
  width: 757px;
  text-align: center;
}

.latest-projects-wrp {
  width: 605px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-projects-button {
  display: block;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  margin: 0 0 40px 0;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  outline: none;
}

.latest-projects-button:hover {
  color: #ffffff;
  background-color: #998675;
}

.latest-projects-button:active {
  color: #ffffff;
  background-color: #42250b;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20% 0 20%;
  margin: 0 0 40px 0;
}

.preview-item {
  width: 370px;
  margin: 0 0 30px 0;
}

.preview-item:hover .preview-wrapper {
  background-color: #362f2d;
}

.preview-item:hover .preview-wrapper::before {
  border-bottom: 8px solid transparent;
}

.preview-item:hover .preview-img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.preview-item:hover .preview-title {
  color: #ffffff;
}

.preview-item:hover .preview-txt {
  color: #c7b299;
}

.preview-item:hover .preview-btn-link {
  background-image: url(../img/link_10955.png);
}

.preview-item:hover .preview-btn-search {
  background-image: url(../img/lupa_10956.png);
}

.preview-img {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.preview-wrapper {
  background-color: #fbfaf8;
  position: relative;
  padding: 30px 5% 27px 2%;
}

.preview-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: -23px;
  left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 15px solid transparent;
  border-bottom: 8px solid #fbfaf8;
}

.preview-title {
  display: block;
  width: 100%;
  font-family: 'raleway', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  margin: 0 0 14px 0;
}

.preview-txt {
  width: 100%;
  display: block;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.preview-btn-link {
  display: block;
  width: 26px;
  height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: none;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  top: -60%;
  left: 40%;
  margin: 0;
  padding: 0;
}

.preview-btn-link:active {
  border: 1px solid red;
}

.preview-btn-search {
  display: block;
  width: 26px;
  height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: none;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  top: -66%;
  left: 60%;
  margin: 0;
  padding: 0;
}

.preview-btn-search:active {
  border: 1px solid red;
}

.latest-projects-btn {
  display: block;
  text-transform: capitalize;
  padding: 20px 45px 20px 45px;
  margin: 0 auto;
  font-family: 'raleway', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #998675;
  border-radius: 3px;
  outline: none;
  border: 1px solid #998675;
}

.latest-projects-btn:hover {
  background-color: #503015;
  border: 1px solid #503015;
}

.latest-projects-btn:active {
  background-color: #d36b16;
  border: 1px solid #d36b16;
}

/*Шестой блок Видео*/
.video-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 705px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video-txt-wrp {
  width: 552px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-txt-btn {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.2;
  background-color: #000000;
  margin: 0 auto 44px auto;
  fill: #ffffff;
  outline: none;
}

.video-txt-btn:hover {
  opacity: 0.5;
}

.video-txt-btn:active {
  opacity: 1;
}

.video-txt-title {
  display: block;
  width: 100%;
  font-family: 'raleway', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 29px 0;
  text-align: center;
}

.video-txt {
  display: block;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 40px 0;
  text-align: center;
}

.video-txt-time {
  display: block;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

/*Седьмой блок Exelence*/
.excellent {
  padding: 80px 20% 0 20%;
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.excellent-wrp {
  padding: 115px 0 0 0;
  width: 657px;
  margin: 0;
}

.excellent-title {
  font-family: 'raleway', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 40px 0;
}

.excellent-txt {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 45px 0;
}

.excellent-list {
  padding: 0;
  margin: 0;
}

.excellent-item {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  list-style-type: none;
  padding: 0 0 0 80px;
  position: relative;
}

.excellent-item::before {
  content: "";
  width: 21px;
  height: 21px;
  display: block;
  background-image: url(../img/01_10972.png);
  position: absolute;
  top: 7px;
  left: 20px;
}

/*Восьмой блок 5 плюсов*/
.five-pluses {
  padding: 69px 26% 60px 26%;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.five-pluses-wrp {
  width: 136px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.five-pluses-wrp::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.five-pluses-icon {
  fill: #c7b299;
  margin: 0 0 30px 0;
  width: 100%;
}

.five-pluses-number {
  display: block;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin: 0 0 21px 0;
}

.five-pluses-txt {
  display: block;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  margin: 0 0 31px 0;
}
/*# sourceMappingURL=style.css.map */